body {
    height: 70vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #212121;
    font-family: monospace;
    overflow-y: hidden;
}

h1 {
    font-size: 10vh;
    color: rgb(232, 232, 232);
}

a {
    color: transparent;
}

a:link {
    color: white;
    font-size: 5vh;
}


div {
    height: 50vh;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.download {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


button {
    background: rgb(141, 141, 141);
    color: #000000;
    height: 5vh;
    margin: 10px;
    border: none;
    border-radius: 0 !important;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: .5s linear;
}

button:hover {
    box-shadow: #d3d3d3 0px 0px 0px 5px, #d3d3d3 0px 0px 0px 5px;
    background: #000;
    color: #EEEEEE;
}


img {
    margin: 0 5vh;
    aspect-ratio: 1/1;
}

input {
    text-align: center;
    font-size: 2vw;
    margin: 5vh 0;
    height: 5vh;
    border: 2px solid transparent;
    outline: none;
    border-bottom: 2px solid #3f3f3f;
    caret-color: #3f3f3f;
    background-color: #212121;
    padding: 5px;
    transition: .5s linear;
    font-family: monospace;
    letter-spacing: 1px;
    color: #d3d3d3;
}

input:focus {
    border: 2px solid #d3d3d3;
    caret-color: #d3d3d3;
    box-shadow: 4px 4px 10px #070707;
}

.input:focus::placeholder {
    color: #d3d3d3;
}

@media only screen and (width<600px) {

    h1 {
        font-size: 5vh;
    }

    input,
    button {
        width: 30vh;
        font-size: 3vh;
    }
}
